@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

:root {
  --itau-orange: #EC7000;
  --itau-blue: #004990;
  --text-dark: #2B2B2B;
  --bg-color: #d0cccc;
  --white: #FFFFFF;
  --error-red: #E53935;
  --border-color: #D3D6DB;

  --font-main: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
